.nav-bar-component {
  display: flex;
  align-items: center;
  height: 7vh;
  position: absolute;
  width: 100vw;
  top: -100px;
  transition: top 1s;
  transition-timing-function: ease-out;
  background-color: #1a202c;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 2;
  .nav-bar-container-grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
    width: 100%;

    .nav-bar-logo-container {
      display: flex;
      align-items: center;
      height: 7vh;
      .iconContainer {
        background-color: #bbc5d1;
        border-radius: 50%;
      }

      .navBarTitle {
        color: #bbc5d1;
        font-size: 3vh;
        font-weight: bold;
        // margin: auto;
        margin-left: 50px;
        margin-right: 50px;
      }

      .nav-bar-logo {
        width: 7vh;
        height: 7vh;
      }
    }

    .nav-bar-buttons-container {
      display: flex;

      .nav-bar-btn {
        cursor: pointer;
        border: none;
        border-radius: 0;
        background: none;
        text-transform: uppercase;
        font-size: 1.7vh;
        font-weight: bold;
        color: #bbc5d1;
        transition: all 0.5s;
        margin: auto;
        letter-spacing: 0.2vh;
      }

      .nav-bar-btn:hover {
        color: gold;
      }
    }
  }
}

.nav-bar-active {
  top: 0px;
}

.nav-bar-component-mobile {
  height: 5vh;
  position: absolute;
  width: 100vw;
  top: 0px;
  transition: top 1s;
  transition-timing-function: ease-out;
  background-color: #1a202c;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  display: grid;
  grid-template-columns: 5vh auto 5vh;
  .nav-bar-mobile-logo {
  }
  .nav-bar-mobile-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
    font-weight: 600;
    color: #bbc5d1;
  }

  .nav-bar-mobile-hamburger-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5vh;
    height: 5vh;
    .hamburger-menu {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 4vh;
      width: 4vh;
    }
  }
}

.nav-bar-active-mobile {
  top: 0px;
}



.toggle-drawer-btn {
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  background-color: darkgray;
  position: absolute;
  top: 47.5vh;
  left: 4vh;
}

.menu-drawer {
  overflow: visible;

  .menu-btn-list {
    background-color: #253551;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 1vh;
    padding: 1vh;
    .menu-list-item {
      background-color: #1a202c;
      border-radius: 1vh;
      width: 100%;
      height: 7vh;

      .menu-icon-btn {
        color: #bbc5d1;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1vh;
        padding: 1.5vh;
        font-weight: 700;
      }
    }
  }
}
