.header-container {
  grid-area: 1 / 1 / span 1 / span 2;
}

body {
  font-family: Arial, sans-serif;
  padding: 0px;
  margin: 0px;
}

@media only screen and (min-width: 600px) {
  .homePageGridContainerMobile {
    display: grid;
    grid-template-rows: auto 100vh 30vh;
    background-color: #4a5568;

    .titleContainer {
      display: flex;
      justify-content: center;

      .titleGrid {
        margin-top: 5vh;
        display: grid;
        grid-template-rows: auto auto auto;

        .logoContainer {
          display: flex;
          justify-content: center;
          align-items: center;
          .logoBackground {
            background-color: white;
            border-radius: 50%;
            filter: drop-shadow(1vw 1vw 1vw rgb(43, 43, 43));
          }
          .logo {
            width: 50vw;
            height: 50vw;
            max-width: 400px;
            max-height: 400px;
          }
        }
        .tileGridItem {
          display: flex;
          justify-content: center;
          min-width: 900px;

          .title {
            font-size: 5vh;
            color: #dbe0e7;
            filter: drop-shadow(1vw 1vw 1vw rgb(43, 43, 43));
          }
          .message {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 3.5vh;
            color: #dbe0e7;
            font-weight: 700;
            filter: drop-shadow(1vw 1vw 1vw rgb(43, 43, 43));
          }
        }
      }
    }

    .paper-flex {
      display: flex;
      justify-content: center;
      .out-paper {
        margin-top: 5vh;
        width: 90vw;
        max-width: 1280px;
        .in-paper {
          height: 100vh;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .homePageGridContainerMobile {
    display: grid;
    grid-template-rows: auto 100vh 30vh;
    background-color: #4a5568;

    .titleContainer {
      display: flex;
      justify-content: center;

      .titleGrid {
        margin-top: 7vh;
        display: grid;
        grid-template-rows: 50vw 10vw 6vw;

        .logoContainer {
          display: flex;
          justify-content: center;
          align-items: center;
          .logoBackground {
            background-color: white;
            border-radius: 25vw;
            filter: drop-shadow(1vw 1vw 1vw rgb(43, 43, 43));
          }
          .logo {
            width: 50vw;
            height: 50vw;
            max-width: 500px;
            max-height: 500px;
          }
        }
        .tileGridItem {
          display: flex;
          justify-content: center;
          // align-items: center;

          .title {
            font-size: 5vw;
            color: #dbe0e7;
            filter: drop-shadow(1vw 1vw 1vw rgb(43, 43, 43));
          }
          .message {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 3.5vw;
            color: #dbe0e7;
            font-weight: 700;
            filter: drop-shadow(1vw 1vw 1vw rgb(43, 43, 43));
          }
        }
      }
    }

    .paper-flex {
      display: flex;
      justify-content: center;
      .out-paper {
        margin-top: 5vh;
        width: 90vw;
        .in-paper {
          height: 100vh;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}
