.header-container {
    grid-area: 1 / 1 / span 1 / span 2;
}

body {
    font-family: Arial, sans-serif;
    padding: 0px;
    margin: 0px;
}

.page-grid-container {
    display: grid;
    grid-template-rows: 80vh 100vh 100vh;
    // background-image: url('./../../assets/ClujWhoBackground.png'), url('./../../assets/ClujWhoBackground.png');
    // background-repeat: repeat;
    // background-size: 50%;
}

.backgroud-image {
    background-image: url('./../../assets/ClujWhoBackground.png');
    background-repeat: repeat;
    background-size: 50%;
    // opacity: 50%;
}

.title-tile {
    display: flex;
    justify-content: center;
    padding-top: 10vh;
    height: 80%;
    width: 100%;

    .title-grid-container {
        display: grid;
        grid-template-rows: 300px 100px 100px;

        .tile-grid-item-container {
            display: flex;
            justify-content: center;
            .logo {
                width: 300px;
                height: 300px;
            }

            .title-container {
                position: relative;
                bottom: 70px;
                .title-flex-container {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 80vw;
                    .title {
                        font-size: 90px;
                        // font-weight: 600;
                    }
                }
                .title {
                    font-size: 7vh;
                    // font-weight: 600;
                    color: #008dc7;
                }
            }
        }
    }
}

.paper-flex {
    display: flex;
    justify-content: center;
    .out-paper {
        width: 1220px;
        .in-paper {
            height: 100vh;
            display: grid;
            grid-template-columns: 1fr 1fr;

            .team-member-card-container {
                padding: 10px;
            }
        }
    }
}

.page-grid-item {
    //   background-color: aqua;
}

.nav-bar-container {
    position: fixed;
    top: 0;
    left: 0;
}

.nav-bar-active {
    animation-name: slide-down;
    animation-duration: 4s;
}

@keyframes slide-down {
    0% {
        top: -10;
    }
    100% {
        top: 100;
    }
}

.debug {
    // border: 1px solid black;
}
