.EMRO-mobile-page-card {
  background-color: #1a202c;
  color: white;
  width: 90vw;
  padding: 2vw;
  border-radius: 2vh;

  .EMRO-image-container-m {
    width: 90vw;
    // height: 20vw;

    .EMRO-Image {
      width: 90vw;
      // height: 20vw;
    }
  }
}
