.debug{
    // border: 1px solid rgba(0, 0, 0, 0.8);
}
  
:root {
    --main-yellow-color: #FFFB87;
    --main-gray-color: #F0F2F4;
    --black-color: #000000;
    --red-color: #ff0000;
}

:root {
    --main-font: 'Barlow', sans-serif;
}