element {
  --custom-gray: #4a5568;
  --custom-deep-blue: #1a202c;
}

.desktopBackGround {
  display: grid;
  grid-template-rows: 100vh 10vh 20vh 60vh 100vh;
  background-color: #4a5568;
  width: 100vw;

  .firstImageContainer {
    grid-column: 1;
    grid-row: 1;
    height: auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .flexCenter1 {
      grid-column: 1;
      grid-row: 1;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      height: 100vh;
      width: 100vw;
      overflow: visible;

      .firstImage {
        width: 1920px;
        height: 1080px;

        position: relative;
        top: 10vh;
      }

      @media only screen and (max-width: 1900px) {
        .firstImage {
          height: 100vh;
          position: relative;
          top: 0vh;
        }
      }
    }
  }

  .secondContainer {
    z-index: 1;
    grid-column: 1;
    grid-row: 1;
    height: 110vh;
    // width: 1920px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .thirdContainer {
    grid-column: 1;
    grid-row: 3;
    height: 100%;
    background-color: #1a202c;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;

    .homePageTitleGridContainer {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 1fr 1fr;
      height: 100%;
      width: 100vw;

      .homePageTitleContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        .homePageTitle {
          color: #17a0df;
          font-size: 8vh;
          padding: 0;
          margin: 0;
        }
      }

      .homePageMessageContainer {
        display: flex;
        justify-content: center;
        align-items: center;

        .homePageMessage {
          color: #17a0df;
          font-size: 4vh;
        }
      }
    }

    .homePageCardGrid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      width: 60vw;
      position: relative;
      bottom: 20px;
      z-index: 1;

      .homePageCardContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 350px;

        .homePageCard {
          // padding: 10%;
          padding-top: 0;
          padding-left: 10%;
          padding-right: 10%;
          height: 100%;

          display: grid;
          grid-template-rows: 10% 90%;

          .homePageCardTitile {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 25px;
            font-weight: 700;
            color: white;
          }

          .homePageCardContent {
            font-size: 20px;
            color: white;

            .topicList {
              padding-left: 20px;
            }
          }
        }
      }
    }
  }

  .fourthContainerWaves {
    grid-column: 1;
    grid-row: 4;
    height: 100%;
    z-index: 1;
  }

  .fourthContainer {
    grid-column: 1;
    grid-row: 4;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;

    .globeContainer {
      grid-column: 1;
      grid-row: 1;
      height: 60vh;
      grid-area: 1 / 1 / 1 / span 2;
      display: flex;
      justify-content: center;
      align-items: center;

      .globeContainer2 {
        width: 50vh;
      }
    }

    .orbitContainer {
      grid-column: 1;
      grid-row: 1;
      height: 60vh;
      grid-area: 1 / 1 / 1 / span 2;

      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #1a202c;

      .orbitContainer2 {
        width: 50vh;
      }
    }

    .fourthContainerLeft {
      width: 50vw;
      grid-column: 1;
      grid-row: 1;

      .thirdContainerLeft {
        position: relative;
        height: 100%;
        width: 60vw;
        transition: 2s;
        color: white;
        display: flex;

        .thirdContainerLeftRect {
          width: 50vw;
          background-color: orangered;
          display: flex;
          align-items: center;

          .thirdContainerLeftRectTextContainer {
            position: relative;
            padding-left: 10vw;
            font-size: 2.6vh;
            font-weight: 700;
            max-height: 60vh;
            display: flex;
            flex-direction: column;
            height: 100%;
            gap: 15px;
            justify-content: center;

            .thirdContainerLeftRectTextContainerP1 {
              font-size: 120%;
              width: 45vw;
              margin: 0;
            }

            .thirdContainerLeftRectTextContainerP2 {
              width: 40vw;
              font-size: 100%;
              margin: 0;
            }

            .thirdContainerLeftRectTextContainerP3 {
              width: 35vw;
              margin: 0;
              font-size: 100%;
            }
          }
        }

        .thirdContainerLeftTriCont {
          width: 10vw;

          .thirdContainerLeftTri {
            width: 0;
            height: 0;
            border-top: 60vh solid orangered;
            border-right: 10vw solid transparent;
          }
        }
      }

      .thirdContainerLeftOutside {
        right: 50vw;
      }
      .thirdContainerLeftInside {
        right: 5vw;
      }
    }

    .fourthContainerRight {
      width: 50vw;
      grid-column: 2;
      grid-row: 1;

      .thirdContainerRight {
        position: relative;
        height: 100%;
        width: 60vw;
        transition: 2s;
        color: white;
        font-size: 25px;
        display: flex;

        .thirdContainerRightRect {
          width: 50vw;
          background-color: orange;
          display: flex;
          // justify-content: center;
          align-items: center;

          .sexualHealthImg {
            height: 50vh;
          }
        }

        .thirdContainerRightTriCont {
          width: 10vw;

          .thirdContainerRightTri {
            width: 0;
            height: 0;
            border-bottom: 60vh solid orange;
            border-left: 10vw solid transparent;
          }
        }
      }

      .thirdContainerRightOutside {
        left: 40vw;
      }
      .thirdContainerRightInside {
        left: -5vw;
      }
    }
  }

  .fifthContainer {
    grid-column: 1;
    grid-row: 5;
    height: 100%;
    display: flex;
  }
}

.plusIcon {
  width: 5px;
  height: 5px;
}

.debug {
  border: 1px solid white;
}

.waves {
  // transform: scaleY(0.6);
}

.cls-1 {
  fill: none;
}

.cls-2 {
  fill: #085dad;
}

.cls-3 {
  isolation: isolate;
}

.cls-4 {
  clip-path: url(#clip-path);
}

.cls-5 {
  fill: #8cc739;
}

.cls-6 {
  clip-path: url(#clip-path-2);
}
