html,
body {
  margin: 0;
  height: 100%;
}

.debug {
  border: 1px solid black;
}

.OxCenter {
  display: flex;
  justify-content: center;
}
.OyCenter {
  display: flex;
  align-items: center;
}
.xOyCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 600px) {
  .backgroud-image {
    background-image: url('./../../assets/ClujWhoBackground.png');
    background-repeat: repeat;
    background-size: 50%;
    background-color: #4a5568;
  }

  .applyNowPageGridContainer {
    display: flex;
    justify-content: center;

    .applyNowPageGrid {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 10vh 30vh 100vh;
      margin-top: 10vh;

      .titleContainer {
        font-size: 50px;
        margin: 0;
        font-weight: 700;
        color: #cfd8e4;
        filter: drop-shadow(0.5vh 0.5vh 0.5vh rgb(43, 43, 43));
      }

      .countDownContainer {
        .counterContainer {
          display: grid;
          grid-template-rows: auto;
          grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
          background-color: rgb(173, 216, 230);
          border-radius: 20px;
          filter: drop-shadow(0.5vh 0.5vh 0.5vh rgb(43, 43, 43));

          .cardContainer {
            margin-top: 20px;
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto auto;

            .counterCard {
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: #72c2eb;
              border-radius: 20px;
              width: 150px;
              height: 150px;
              margin-left: 20px;
              margin-right: 20px;

              font-size: 100px;
              color: white;
            }

            .cardLabel {
              color: white;
              font-size: 30px;
              margin-top: 10px;
              margin-bottom: 10px;
            }
          }

          .points {
            font-size: 100px;
            margin-bottom: 65px;
            color: white;
          }
        }
      }

      .paperContainer {
        width: 90vw;
        max-width: 1280px;
        .iframeContainer {
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .applyNowPageGridContainerMobile {
    display: flex;
    justify-content: center;
    background-color: #4a5568;
    // border: 1px solid white;

    .applyNowPageGridMobile {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 2vh 3vh 16vh 80vh 30vh;
      margin-top: 8vh;

      .titleContainerMobile {
        font-size: 5vw;
        margin: 0;
        font-weight: 700;
        color: #d8e0e9;
        filter: drop-shadow(1vw 1vw 1vw rgb(43, 43, 43));
      }

      .countDownContainerMobile {
        filter: drop-shadow(1vw 1vw 1vw rgb(43, 43, 43));

        .counterContainerMobile {
          display: grid;
          grid-template-rows: auto;
          grid-template-columns: auto 2vw auto 2vw auto 2vw auto 2vw auto;
          background-color: rgb(173, 216, 230);
          border-radius: 3vw;
          width: 95vw;
          padding: 1vw;

          .cardContainerMobile {
            margin-top: 1vh;
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto auto;
            // border: 1px solid black;

            .counterCardMobile {
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: #72c2eb;
              border-radius: 1vw;
              width: 15vw;
              height: 15vw;
              font-size: 10vw;
              font-weight: 600;
              color: white;
              margin-left: auto;
              margin-right: auto;
            }

            .cardLabelMobile {
              color: white;
              font-size: 3.4vw;
              margin-top: 0.1vh;
              margin-bottom: 0.1vh;
            }
          }

          .pointsMobile {
            font-size: 10vw;
            color: white;
            margin-bottom: 2vh;
            font-weight: 600;
          }
        }
      }

      .paperContainerMobile {
        margin-top: 5vh;
        .iframeContainerMobile {
        }
      }
    }
  }
}

@keyframes mapFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
