html,
body {
    margin: 0;
    height: 100%;
    overflow-x: hidden;
}

.backgroud-image {
    background-image: url('./../../assets/ClujWhoBackground.png');
    background-repeat: repeat;
    background-size: 50%;
}

.debug {
    border: 1px solid black;
}

.OxCenter {
    display: flex;
    justify-content: center;
}
.OyCenter {
    display: flex;
    align-items: center;
}
.xOyCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.applyNowPageGridContainer {
    display: flex;
    justify-content: center;

    .applyNowPageGrid {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 10vh 30vh 100vh;
        margin-top: 20vh;

        .titleContainer {
            font-size: 50px;
            margin: 0;
            font-weight: 700;
            color: #008dc7;
        }

        .countDownContainer {
            .counterContainer {
                display: grid;
                grid-template-rows: auto;
                grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
                background-color: rgb(173, 216, 230);
                border-radius: 20px;

                .cardContainer {
                    margin-top: 20px;
                    display: grid;
                    grid-template-columns: auto;
                    grid-template-rows: auto auto;

                    .counterCard {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #72c2eb;
                        border-radius: 20px;
                        width: 150px;
                        height: 150px;
                        margin-left: 20px;
                        margin-right: 20px;

                        font-size: 100px;
                        color: white;
                    }

                    .cardLabel {
                        color: white;
                        font-size: 30px;
                        margin-top: 10px;
                        margin-bottom: 10px;
                    }
                }

                .points {
                    font-size: 100px;
                    margin-bottom: 65px;
                    color: white;
                }
            }
        }

        .paperContainer {
            .iframeContainer {
            }
        }
    }
}
