@media only screen and (min-width: 600px) {
  .committeesPageContainerMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: #4a5568;
    border: 1px solid white;
  }

  .OxCenter {
    display: flex;
    justify-content: center;
  }

  .committeesPageGridMobile {
    margin-top: 7vh;
    display: grid;
    grid-template-rows: 60vh auto;
    grid-row-gap: 30px;

    .committeesWroldMapContainerMobile {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 6vh;
      animation: mapFadeIn 3s ease-in 0s 1 forwards forwards;
      border: 1px solid white;

      .wordMapSvg {
        transform: scale(calc(1.11));
      }
    }
    .committeePageContainer {
      width: 70vw;
      max-width: 900px;
    }

    .committeesPageGridMobileItem {
      display: flex;
      justify-content: center;
      align-items: center;
      .mobileTextContainer {
        margin: 2vw;
        width: 70vw;
        max-width: 900px;
      }
    }

    @keyframes mapFadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
}

@keyframes mapFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .committeesPageContainerMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: #4a5568;
    border: 1px solid white;
  }

  .OxCenter {
    display: flex;
    justify-content: center;
  }

  .committeePageContainer {
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  .committeesPageGridMobile {
    display: grid;
    grid-template-rows: 30vh auto;
    // border: 1px solid white;

    .committeesWroldMapContainerMobile {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vw;
      margin-top: 6vh;
      animation: mapFadeIn 3s ease-in 0s 1 forwards forwards;
      // border: 1px solid white;

      .wordMapSvg {
        transform: scale(calc(1.11));
        // border: 1px solid yellow;
      }
    }

    .committeesPageGridMobileItem {
      display: flex;
      justify-content: center;
      align-items: center;
      .mobileTextContainer {
        margin: 2vw;
      }
    }

    @keyframes mapFadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
}

@keyframes mapFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
