.committees-backgroud {
  background-color: #4a5568;
  background: rgb(65, 120, 142);
  background: linear-gradient(
    180deg,
    rgb(26, 138, 182) 0%,
    rgba(60, 80, 124, 1) 30%,
    rgba(60, 80, 124, 1) 55%,
    rgba(83, 76, 106, 1) 100%
  );
  display: grid;
  grid-template-rows: min-content auto;

  .world-map-container {
    margin-top: 6vh;
    max-width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .committees-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    gap: 2vh;
    // padding-bottom: 10vh;
  }
}

.committees-web-backgroud {
  background-color: #0d48af;
  background: rgb(65, 120, 142);
  background: linear-gradient(
    180deg,
    rgba(65, 120, 142, 1) 0%,
    rgba(60, 80, 124, 1) 30%,
    rgba(60, 80, 124, 1) 55%,
    rgba(83, 76, 106, 1) 100%
  );
  display: grid;
  grid-template-rows: min-content auto;
  width: 100vw;
  // height: 100vh;

  .committees-web-page-grid {
    display: grid;
    grid-template-rows: auto;

    .map-container-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 8vh;
      animation: mapFadeIn 3s ease-in 0s 1 forwards forwards;

      .map-container {
        width: 90vw;
      }

      .wordMapSvg {
        transform: scale(calc(1.11));
      }
    }

    .descriptions-list-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .descriptions-list {
        display: flex;
        flex-direction: column;
        gap: 5vh;
        width: 50vw;
        padding: 10vh;

        .description-list-item {
          display: grid;
          .description-container {
            grid-column: 1;
            grid-row: 1;
            position: relative;
            left: 0vw;
            transition-duration: 2s;
          }

          .description-container-right {
            left: 10vw;
          }

          .description-map-container {
            grid-column: 1;
            grid-row: 1;
            width: 25vw;
            position: relative;
            right: 0vw;
            transition-duration: 2s;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #253551;
            border-radius: 20px;
          }

          .description-map-container-left {
            right: 13vw;
          }
        }
      }
    }
  }

  .committees-web-page-container {
    margin-top: 6vh;
    max-width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .web-committees-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    gap: 2vh;
    // padding-bottom: 10vh;
  }
}

@media only screen and (min-width: 600px) {
  .committeesPageContainerMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: #4a5568;

    // border: 1px solid white;
  }

  .OxCenter {
    display: flex;
    justify-content: center;
  }

  .committeesPageGridMobile {
    margin-top: 7vh;
    display: grid;
    grid-template-rows: 60vh auto;
    grid-row-gap: 30px;

    .committee-description-container {
      padding: 15px;
      font-size: 21px;
      // width: 50%;

      .committee-description-title {
        font-size: 3vh;
        font-weight: 600;
      }

      .EMRO-image-container {
        .EMRO-Image {
          width: 100%;
        }
      }

      .AFRO-first-paragraph {
        padding-top: 10px;
      }
      .AFRO-image-container {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .AFRO-Image {
          padding-right: 20px;
          padding-left: 20px;
          padding-top: 10px;
        }
      }

      .AFRO-bullet-point-list-container {
        margin-top: 0px;
        .AFRO-bullet-point-list-title {
          margin-top: 5px;
          margin-bottom: 5px;
        }

        .AFRO-bullet-point-list {
          margin-top: 5px;
          .AFRO-bullet-point-list-item {
          }
        }
      }
    }

    .committeesWroldMapContainerMobile {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 6vh;
      animation: mapFadeIn 3s ease-in 0s 1 forwards forwards;
      // border: 1px solid white;

      .wordMapSvg {
        transform: scale(calc(1.11));
      }
    }
    .committeePageContainer {
      width: 70vw;
      max-width: 900px;
    }

    .committeesPageGridMobileItem {
      display: flex;
      justify-content: center;
      align-items: center;
      .mobileTextContainer {
        margin: 2vw;
        width: 70vw;
        max-width: 900px;
      }
    }

    @keyframes mapFadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
}

@keyframes mapFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .committeesPageContainerMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: #4a5568;
    border: 1px solid white;

    .committeesPageGridMobile {
      display: grid;
      grid-template-rows: 30vh auto;

      .committeesWroldMapContainerMobile {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        margin-top: 6vh;
        animation: mapFadeIn 3s ease-in 0s 1 forwards forwards;

        .wordMapSvg {
          transform: scale(calc(1.11));
        }
      }

      .committeePageContainer {
        margin-top: 1vh;
        margin-bottom: 1vh;

        .mobileTextContainer {
          width: 90vw;

          .committee-description-container {
            padding: 3vw;
            font-size: 15px;

            .committee-description-title-m {
              font-size: 5vw;
              font-weight: 600;
            }

            //? AFRO
            .AFRO-first-paragraph {
              padding-top: 10px;
              width: 100%;
            }
            .AFRO-image-container {
              width: 84vw;
              display: grid;
              grid-template-rows: auto auto;

              .AFRO-Image {
                margin-top: 1vh;
                width: 100%;
                height: auto;
              }
            }
            .AFRO-bullet-point-list-container {
              margin-top: 0px;
              .AFRO-bullet-point-list-title {
                margin-top: 5px;
                margin-bottom: 5px;
              }

              .AFRO-bullet-point-list {
                margin-top: 5px;
                .AFRO-bullet-point-list-item {
                }
              }
            }

            //? EMRO
            .EMRO-image-container-m {
              width: 84vw;

              .EMRO-Image-m {
                margin-top: 1vh;
                width: 100%;
                height: auto;
              }
            }

            //? EURO
            .EURO-image-container-m {
              width: 84vw;

              .EMRO-Image-m {
                margin-top: 1vh;
                width: 100%;
                height: auto;
              }
            }

            //? SIGNITURE
            .signiture-container {
              display: flex;
              width: 84vw;
              // gap: 5vw;
              justify-content: center;
              align-items: center;

              .signiture-card {
                display: flex;
                align-items: center;
                background-color: #4a5568;
                padding: 2vw;
                border-radius: 3vw;

                .signiture-image {
                  width: 10vw;
                  height: 10vw;
                  border-radius: 50%;
                  border: 3px solid #1a202c;
                }

                .signiture-name {
                  margin-left: 1vw;
                  color: #bbc5d1;
                  font-weight: 600;
                }
              }
            }
          }
        }
      }

      .committeesPageGridMobileItem {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      @keyframes mapFadeIn {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    }
  }

  .OxCenter {
    display: flex;
    justify-content: center;
  }
}

@keyframes mapFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
