.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  padding-bottom: 2vw;
  background-color: #aedfff;
  

  .facebook-insta-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;

    .facebook-icon-container {
      width: 10vw;
      height: 10vw;
      background-color: aliceblue;
      z-index: 7;

      .anchor {
        z-index: 7;
        width: 10vw;
        height: 10vw;

        .anchor-button {
          width: 10vw;
          height: 10vw;
          border: none;
          padding: 0;
        }
      }
    }

    .instagram-icon-container {
      width: 10vw;
      height: 10vw;
      z-index: 8;

      .anchor-insta {
        z-index: 8;
        width: 10vw;
        height: 10vw;

        .anchor-button-insta {
          width: 10vw;
          height: 10vw;
          border: none;
          padding: 0;
          background-color: transparent;
        }
      }
    }
  }

  .email-container {
    display: flex;
    justify-content: center;
    gap: 2vw;

    .email-icon-container {
      width: 10vw;
      height: 10vw;
    }

    .email {
      padding: 0;
      margin: 0;
      color: #17a0df;
      display: flex;
      align-items: center;
    }
  }

  .osm-logo-container {
    width: 50vw;

    .osm-logo {
      width: 50vw;
    }
  }
}

.EMROg {
  transition: all 0.3s;
  transform-origin: 50% 50%;
}

.EMROg:hover {
  transform: scale(1.02);
  filter: drop-shadow(1vw 1vw 1vw rgb(43, 43, 43));
}

.AFROg {
  transition: all 0.3s;
  transform-origin: 50% 50%;
}

.AFROg:hover {
  transform: scale(1.015);
  filter: drop-shadow(1vw 1vw 1vw rgb(43, 43, 43));
}

.EUROg {
  transition: all 0.3s;
  transform-origin: 50% 50%;
}

.EUROg:hover {
  transform: scale(1.01);
  transform: translateX(-4px);
  filter: drop-shadow(1vw 1vw 1vw rgb(43, 43, 43));
}

.AMROg {
  transition: all 0.3s;
  transform-origin: 50% 50%;
}

.AMROg:hover {
  transform: scale(1.01);
  filter: drop-shadow(1vw 1vw 1vw rgb(43, 43, 43));
}

.SEAROg {
  transition: all 0.3s;
  transform-origin: 50% 50%;
}

.SEAROg:hover {
  transform: scale(1.01);
  filter: drop-shadow(1vw 1vw 1vw rgb(43, 43, 43));
}

.WPROg {
  transition: all 0.3s;
  transform-origin: 50% 50%;
}

.WPROg:hover {
  transform: scale(1.01);
  filter: drop-shadow(1vw 1vw 1vw rgb(43, 43, 43));
  z-index: 10;
}

.worldMap {
  animation: mapFadeIn 1s ease 0s 1 normal forwards;
}

@keyframes mapFadeIn {
  0% {
    opacity: 0;
    transform: scale(0.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
