.EMROg {
    transition: all 0.3s;
    transform-origin: 50% 50%;
}

.EMROg:hover {
    transform: scale(1.02);
}

.AFROg {
    transition: all 0.3s;
    transform-origin: 50% 50%;
}

.AFROg:hover {
    transform: scale(1.015);
}

.EUROg {
    transition: all 0.3s;
    transform-origin: 50% 50%;
}

.EUROg:hover {
    transform: scale(1.01);
}

.AMROg {
    transition: all 0.3s;
    transform-origin: 50% 50%;
}

.AMROg:hover {
    transform: scale(1.01);
}

.SEAROg {
    transition: all 0.3s;
    transform-origin: 50% 50%;
}

.SEAROg:hover {
    transform: scale(1.01);
}

.WPROg {
    transition: all 0.3s;
    transform-origin: 50% 50%;
}

.WPROg:hover {
    transform: scale(1.01);
}
