.grid-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(4, auto);
  background-color: #FFFFFF;
}

/* Hide scrollbar for Chrome, Safari and Opera */
/* body::-webkit-scrollbar {
  display: none;
} */
.app{
  overflow: hidden;
  width: 100vw;
}


/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.app {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body{
  overflow: visible;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none; 
}

@-moz-document url-prefix() { /* Disable scrollbar Firefox */
  html{
    scrollbar-width: none;
  }
}